
$main-color:#ccc;
.b
{
  padding:10px;
  background-color:$main-color;
  display:flex;
  justify-contnt:center;

}
.item
{
  background-color:#f1425d;
  margin:30px;
  padding:30px;
  font-size:40px;
  color:#fff;
}
